
@import 'reactflow/dist/style.css';

/* Reset default React Flow node styles to prevent double borders */
.react-flow__node {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

.react-flow__handle {
    @apply !bg-primary;
}
